<div class="floating-social">

    <ul>
        <li>
            <a href="https://twitter.com/ZulianiStph">
                <img class="social-icon" src="/assets/icons/twitter.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="social-icon" src="/assets/icons/facebook.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="social-icon" src="/assets/icons/github.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="social-icon" src="/assets/icons/pinterest.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="social-icon" src="/assets/icons/linkedin.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img class="social-icon" src="/assets/icons/youtube.png" />
            </a>
        </li>
        <li>


</div>