nav{
    display: block;
    text-align: right;
    padding: 20px 30px 10px 30px;
}


@media screen and (max-width: 1050px) {
    nav{
        text-align: center;
    }
}


.topmenu{

    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-size: 15px;
    color:#666666;
    border-left: solid 2px #99CC99;
    text-decoration: none;
    padding: 7px;
}
.topmenu:hover{
    color:#999999;
}