
.seed-preview{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-spacing: 0px;
}

.seed-preview tr{
    padding-top: 0px;
    padding-bottom: 0px;
}

.seed-preview h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size:30px;
    color: #333333;
    font-size: 18px;
    text-align: left;
    line-height: 1em;
    margin-top:0px;
    margin-bottom: 0px;
}

.seed-preview p {
    margin-bottom: 10px;
    margin-top:0px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-size: 15px;
    color:#666666;
    text-align: left;
    padding-left: 30px;

}

.seed-preview a{
    background-color: transparent;
    border: none;
}
.seed-preview a::after{
        content: none;
    }
.seed-preview a:hover{
    border: none;
    
}

.imgcol{
    width: 20%;
    padding: 0px;
}

.titcol{
    border-bottom: dotted 1px #99cc99;
    padding-bottom: 10px;
}

.seed-preview img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    margin-bottom: 0px;
    max-width: 200px;
    box-shadow: 2px 2px 4px grey;
}

.tags p{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}